<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %highlight(%-5level) %logger{35} |- %highlight(%msg%n)</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <expression>
                    if( logger.equals("akka.remote.ReliableDeliverySupervisor") &amp;&amp;
                            formattedMessage.startsWith("Association with remote system ") &amp;&amp;
                            formattedMessage.contains("Caused by: [Connection refused"))
                        return true;
                    else
                        return false;
                </expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
    </appender>
    <logger name="akka" level="INFO" />
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>